# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
ENV/
env/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Secrets
config/.env
.env

# Data & Logs
*.db
*.sqlite
*.sqlite3
logs/
*.log

# Streamlit
.streamlit/

# Jupyter Notebooks
.ipynb_checkpoints/

# Build & Distribution
build/
dist/
*.egg-info/

# OS-specific
.DS_Store
Thumbs.db
